<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130982711296-rn4mhe17il7ge2n1sv47fmcllpqtjmnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130982711296-rn4mhe17il7ge2n1sv47fmcllpqtjmnq</string>
	<key>API_KEY</key>
	<string>AIzaSyAno0Y_Oiv9p0beYrV9kfsaN5fl86lTKcM</string>
	<key>GCM_SENDER_ID</key>
	<string>130982711296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Instagram-Tecsup-LGuzman</string>
	<key>PROJECT_ID</key>
	<string>insta-tecsup-2022-2-lg</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-tecsup-2022-2-lg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130982711296:ios:f9a2590cb384fb1f6188e5</string>
</dict>
</plist>